html {
	height:100%; /* forces page height to equal inner window height. */
}
body {
	margin: 0px;
	padding: 0px;
	background-color:#120200;
	font:10px Arial, sans-serif;
	color:#ffffff;
	text-align:left;

}
#mapDiv, #mapMask {
	position: fixed;
	width: 1050px;
	height: 760px;
	left: 0px;
	top: 0px; 
}
#mapBorder {
	position: absolute;
	width: 1180px;
	height: 934px;
	left: 0px;
	top: 0px; 

}
.info { 
   	position: fixed;
	top: 5px;
	left: 5px;
}
.ship { 
    width:50px; height:47px; 
    background: url('pic/ship.png'); 
   	position: absolute;
	top:350px;
	left: 560px;
}
.shadowed {
	-webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));
	filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));
}
#pointer { 
    width:3px; height:3px; 
    background-color: #000000; 
   	position: relative;
}
.plane { 
    width:26px; height:24px; /* exactly the size of an image in our sprite */
    background-image:url('pic/plane.png'); 
   	position: absolute;
	top:110px;
	left: -50px;
}	
.planeShadow { 
    width:26px; height:24px; /* exactly the size of an image in our sprite */
    background-image:url('pic/planeShadow.png'); 
   	position: absolute;
	top:210px;
	left: -50px;
	opacity: 0;
}
h2 {
  	font-size:120px;
  	position: absolute;
	top:665px;
	left: 180px;
	opacity: 0;

}
.author {
  	font-size:9px;
  	color: #cccccc;
  	font-weight: bold;
  	position: absolute;
	top:885px;
	opacity: 0;
}
#myName {
	transform: rotate(270deg);
}

.superShadow {
  	text-shadow:     
  	0 1px 0 hsl(174,5%,80%),
	0 2px 0 hsl(174,5%,75%),
	0 3px 0 hsl(174,5%,70%),
	0 4px 0 hsl(174,5%,66%),
	0 5px 0 hsl(174,5%,64%),
	0 6px 0 hsl(174,5%,62%),
	0 7px 0 hsl(174,5%,61%),
	0 8px 0 hsl(174,5%,60%),

	0 0px 5px 	rgba(0,0,0,.05),
	0 1px 3px 	rgba(0,0,0,.2),
	0 3px 5px 	rgba(0,0,0,.2),
	0 5px 10px 	rgba(0,0,0,.2),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.3);
}

.instructions {
  	font-size:18px;
  	color: #ffeeaa;
  	position: absolute;
	top:15px;
	left: 360px;
	opacity: 0;
}

#plus, #minus {
  	position: absolute;
}
